main {
  background: hsl(0, 0%, 98%);
  padding: 30px;
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px;
}

.searchModule-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 3% 0 3%;
}

select {
  width: 100px;
}

input {
  min-width: 300px;
  max-width: 500px;
  line-height: 25px;
}

@media only screen and (max-width: 1000px) {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 300px) {
  ul {
    display: grid;
    grid-template-columns: 1fr;
  }
}
